n8n-chrono24-chat-agent.json
{
  "name": "Chrono24 AI Agent chat (webhook + n8n chat)",
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "WEBHOOK + CHAT TRIGGER CONFLICT: n8n Respond to Webhook waits forever if an ENABLED Chat Trigger (response mode: Using Response Nodes) exists upstream in the same workflow. For Postman/API: keep Chat Trigger + Chat entry DISABLED. For n8n Open Chat: enable them and DISABLE Webhook (or use a copy of this workflow) so only one entry path is active. Simple Memory Key must not use $json.sessionId (empty on sub-nodes); webhook path uses $('HTTP entry'). For Chat-only runs, set Session ID to Connected Chat Trigger or Key to {{ String($('Chat entry').first().json.sessionId) }}."
  },
  "nodes": [
    {
      "id": "11111111-2222-4333-8444-555555555501",
      "name": "Webhook (frontend API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-320, 200],
      "parameters": {
        "httpMethod": "POST",
        "path": "chrono24-chat-api",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "11111111-2222-4333-8444-555555555502",
      "name": "HTTP entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-80, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.body.message || $json.body.chatInput || $json.body.text || '' }}"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.body.sessionId || $json.body.communicationId || $json.body.threadId || $json.body.conversationId || $json.body.chatId || $json.body.userId || 'webhook-default' }}"
            },
            {
              "id": "a3",
              "name": "replyChannel",
              "type": "string",
              "value": "http"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "11111111-2222-4333-8444-555555555507",
      "name": "Prepare reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 200],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.c24Day = staticData.c24Day || {};\n\nconst item = $input.first().json;\nconst sid = String(item.sessionId || 'anon');\nconst today = new Date().toISOString().slice(0, 10);\n\nconst prev = staticData.c24Day[sid];\nconst isFirstToday = prev !== today;\nstaticData.c24Day[sid] = today;\n\nconst raw = String(item.chatInput || '').trim();\nconst lines = raw\n  .split(/\\r?\\n/)\n  .map((s) => s.trim())\n  .filter((s) => {\n    if (!s) return false;\n    if (/^\\d{1,2}:\\d{2}$/.test(s)) return false;\n    if (/^-{3,}$/.test(s)) return false;\n    if (/^you are trained on data up to/i.test(s)) return false;\n    return true;\n  });\n\nlet latest = raw;\nconst lastTranslateIdx = lines.map((s) => s.toLowerCase()).lastIndexOf('(translate)');\nif (lastTranslateIdx >= 0 && lines[lastTranslateIdx + 1]) {\n  latest = lines[lastTranslateIdx + 1];\n} else if (lines.length) {\n  latest = lines[lines.length - 1];\n}\n\nreturn [\n  {\n    json: {\n      ...item,\n      chatInput: latest,\n      firstToday: isFirstToday,\n      useCanned: false,\n    },\n  },\n];\n"
      }
    },
    {
      "id": "11111111-2222-4333-8444-555555555508",
      "name": "Use canned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 200],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "uc1",
              "leftValue": "={{ $json.useCanned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f0e1d2c3-b4a5-6789-0abc-def123456789",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-320, 0],
      "disabled": true,
      "parameters": {
        "public": false,
        "availableInChat": false,
        "options": {
          "responseMode": "responseNodes"
        }
      }
    },
    {
      "id": "11111111-2222-4333-8444-555555555503",
      "name": "Chat entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-80, 0],
      "disabled": true,
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.chatInput }}"
            },
            {
              "id": "b2",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.sessionId || 'n8n-chat' }}"
            },
            {
              "id": "b3",
              "name": "replyChannel",
              "type": "string",
              "value": "chat"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [220, 220],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [380, 220],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ String($('Prepare reply').first().json.sessionId) }}",
        "contextWindowLength": 20
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-def0-456789abcdef",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [320, 100],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a simple chatbot.\n\nFor each user turn, first classify intent into exactly one of:\n- General\n- Technical\n- Special\n\nDefinitions:\n- Technical: technical aspects/performance/spec details that require expert confirmation (weight, movement, servicing, accuracy, water resistance, parts, measurements, listing-specific factual specs you cannot verify now).\n- Special: only these two topics:\n  1) best-price topic (asks best/lowest price to buy)\n  2) duty-free meaning / import tax / tariff meaning\n- General: everything else (normal conversation, unrelated questions, broad watch opinions, greetings, casual chat).\n\nThen respond by rule:\n1) Technical -> reply exactly:\nI have inform about that to team, will back soon\n\n2) Special -> decide if user's latest message is a question or an answer:\n- If Special + question about best price -> reply exactly:\nMaybe you can send here your desired price for the piece?\nI'll forward it to the team for review and will revert\n\n- If Special + question about duty free -> reply exactly:\nDepending on the states, we would be able to work out an arrangement which we would absorb the duty and tariff for you- esentially what you see here is what you would net pay\nThe team also shared that we can have the insured priority label ready to go for you.\nFollow up also with:\nAs a Singapore registered business, we don't have the same statutory taxes as the US. Our international clients often benefit from this when purchasing from us.\nWhich state are you based in now?\n\n- If Special + answer (e.g. gives desired price, state, or short follow-up answer) -> acknowledge briefly and say you'll pass it to team. Keep to 1 sentence.\n\n3) General -> respond like a normal friendly chatbot in 1-3 short sentences and directly answer the user.\n\nImportant:\n- Output ONLY the final customer-facing answer text.\n- Never output labels such as General, Technical, Special.\n- Classify using ONLY latest user message text.\n- Do not let words inside listing titles (for example DUTY FREE in a product name) force Special unless the user is actually asking about duty meaning/tax.\n- Do NOT add any greeting prefix yourself. Greeting is handled outside this model.\n- Never include meta text like model training cutoff."
        }
      }
    },
    {
      "id": "11111111-2222-4333-8444-555555555504",
      "name": "Route reply (chat vs HTTP)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 100],
      "parameters": {
        "jsCode": "const cur = $input.first().json;\nlet reply = String(cur.reply ?? cur.output ?? cur.text ?? '').trim();\n\nlet prepare = {};\ntry {\n  prepare = $('Prepare reply').first().json;\n} catch (e) {}\n\nconst days = [\n  'Sunday',\n  'Monday',\n  'Tuesday',\n  'Wednesday',\n  'Thursday',\n  'Friday',\n  'Saturday',\n];\nconst weekday = days[new Date().getDay()];\nconst prefix = 'Hey buddy\\nHappy ' + weekday + '!';\nconst signoff = 'Sarah\\nalientime.sg';\n\n// Remove accidental duplicated/placeholder greeting from model output.\nreply = reply.replace(/^Hey buddy\\s*\\n\\s*Happy\\s*\\[[^\\]]+\\]!\\s*/i, '').trim();\nif (reply.toLowerCase().startsWith('hey buddy\\nhappy ' + weekday.toLowerCase() + '!')) {\n  reply = reply.slice(prefix.length).trim();\n}\n\n// Remove classification labels if model outputs them.\nreply = reply\n  .replace(/^(general|technical|special)\\s*[—:\\-]?\\s*/i, '')\n  .replace(/^classification\\s*[—:\\-]?\\s*(general|technical|special)\\s*[—:\\-]?\\s*/i, '')\n  .trim();\n\nif (prepare.firstToday === true) {\n  reply = prefix + '\\n\\n' + reply;\n}\n\nif (!reply.toLowerCase().endsWith(signoff.toLowerCase())) {\n  reply = reply + '\\n' + signoff;\n}\n\nlet replyChannel = 'http';\ntry {\n  if (prepare.replyChannel) {\n    replyChannel = prepare.replyChannel;\n  }\n} catch (e) {}\ntry {\n  const rows = $('HTTP entry').all();\n  if (rows.length && rows[0].json.replyChannel) {\n    replyChannel = rows[0].json.replyChannel;\n  }\n} catch (e) {}\n\nreturn [{ json: { reply, replyChannel } }];\n"
      }
    },
    {
      "id": "11111111-2222-4333-8444-555555555505",
      "name": "Reply goes to webhook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [780, 100],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.replyChannel }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "11111111-2222-4333-8444-555555555506",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1020, 40],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.reply }) }}",
        "options": {
          "responseCode": 200,
          "enableStreaming": false
        }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-ef01-56789abcdef0",
      "name": "Send message",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [1020, 180],
      "parameters": {
        "operation": "send",
        "message": "={{ $json.reply }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook (frontend API)": {
      "main": [
        [
          {
            "node": "HTTP entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP entry": {
      "main": [
        [
          {
            "node": "Prepare reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat entry": {
      "main": [
        [
          {
            "node": "Prepare reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare reply": {
      "main": [
        [
          {
            "node": "Use canned?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use canned?": {
      "main": [
        [
          {
            "node": "Route reply (chat vs HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Route reply (chat vs HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route reply (chat vs HTTP)": {
      "main": [
        [
          {
            "node": "Reply goes to webhook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply goes to webhook?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
